policy_module(helveticum, 1.100.1)

########################################
#
# Declarations
#

type helveticum_t;
type helveticum_exec_t;
init_daemon_domain(helveticum_t, helveticum_exec_t)

permissive helveticum_t;

type helveticum_initrc_exec_t;
init_script_file(helveticum_initrc_exec_t)

type helveticum_conf_t;
files_type(helveticum_conf_t)

type helveticum_var_lib_t;
files_type(helveticum_var_lib_t)

type helveticum_var_run_t;
files_type(helveticum_var_run_t)

type helveticum_port_t;
corenet_port(helveticum_port_t)

########################################
#
# helveticum local policy
#
allow helveticum_t self:process { fork };

allow helveticum_t self:fifo_file rw_fifo_file_perms;
allow helveticum_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(helveticum_t, helveticum_conf_t, helveticum_conf_t)
manage_files_pattern(helveticum_t, helveticum_conf_t, helveticum_conf_t)

manage_dirs_pattern(helveticum_t, helveticum_var_lib_t, helveticum_var_lib_t)
manage_files_pattern(helveticum_t, helveticum_var_lib_t, helveticum_var_lib_t)
files_var_lib_filetrans(helveticum_t, helveticum_var_lib_t, { dir file })

manage_dirs_pattern(helveticum_t, helveticum_var_run_t, helveticum_var_run_t)
manage_files_pattern(helveticum_t, helveticum_var_run_t, helveticum_var_run_t)

sysnet_dns_name_resolve(helveticum_t)
corenet_all_recvfrom_unlabeled(helveticum_t)

allow helveticum_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(helveticum_t)
corenet_tcp_sendrecv_generic_node(helveticum_t)
corenet_tcp_sendrecv_all_ports(helveticum_t)
corenet_tcp_bind_generic_node(helveticum_t)

gen_require(`
    type helveticum_port_t;
')
allow helveticum_t helveticum_port_t:tcp_socket name_bind;

gen_require(`
    type helveticum_port_t;
')
allow helveticum_t helveticum_port_t:tcp_socket name_connect;

domain_use_interactive_fds(helveticum_t)

files_read_etc_files(helveticum_t)

miscfiles_read_localization(helveticum_t)

sysnet_dns_name_resolve(helveticum_t)

allow helveticum_t helveticum_exec_t:file execute_no_trans;
allow helveticum_t self:process setsched;
corecmd_exec_ls(helveticum_t)
corenet_tcp_connect_http_port(helveticum_t)
dev_read_urand(helveticum_t)
fs_getattr_xattr_fs(helveticum_t)
kernel_read_system_state(helveticum_t)
